body {
  font-family: 'Raleway', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  color:white;
}

.header a{
  color:white;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  margin-top:0;
  padding-top:0;
}

.panel-body{
  color:black;
  font-weight:bold;
}

.alert-container {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(0,0,0,.56);
  position: fixed;
}

.alert-container:before {
  content: '';
  display: inline-block;;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  background-color: red;
}


.alert {
  width: 270px;
  display: inline-block;
  background-color: rgba(255,255,255,.87);
  border-radius: 7px;
  font-family: "Helvetica Neue", "Helvetica";
  font-size: 15px;
  text-align: center;
  padding: 1px 0px;
  vertical-align: middle;
  /* display: inline-block; */
}

.alert hr {
  height: 1px;
  background-color: #b2b2b4;
  border: none;
  margin: 0;
}

.alert a, .alert p, .alert h1 {
  display: block;
  font-size: 18px;
  line-height: 23px;
  margin: 13px;
}

.alert a {
  text-align: center;
  color: #007AFF;
  text-decoration: none;
  display:inline-block;
}
p {
  margin: 13px;
  color: #444;
}
h1 {
  color: #000;
  font-weight: bold;
}

#uialertview {
  z-index:2000;
}

.list-group-item img{
  width:100px;
  float:left;
}
