<div id="hiddencontent" style="display:none;">
  <h3>Recommended Plants For Tucson</h3>

  <div class="list-group">
    <a href="#" class="list-group-item">
      <img src="images/hibiscus.jpg" /><br />
      <strong>Hibiscus</strong>
      <p style="font-size:10pt;">The tea made of hibiscus flowers is known by many names in many countries around the world and is served both hot and cold. The beverage is well known for its color, tanginess and flavor.</p>
      <div style="clear:both;"></div>
    </a>

    <a href="#" class="list-group-item">
      <img src="images/Opuntia_unknown_hybrid_Tucs.jpg" /><br />
      <strong>Opuntia</strong>
      <p>Prickly pears also produce a fruit, commonly eaten in Mexico, known as tuna; it also is used to make aguas frescas.</p>
      <div style="clear:both;"></div>
    </a>
  </div>

</div>

<div id="uialertview" style="display:none;">
  
  <div class="alert-container">
    <div class="alert">
    <p>"Hurb" Would Like to Access Your Current Location</p>
    <hr/>
    <a ng-click="closeAlert()">Allow</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a ng-click="closeAlert()" style="font-weight:bold;">Deny</a>
    </div>
  </div>
</div>